<section>
  <img src="/images/tjsingleton.jpg" width=200 height=200 alt="TJ Singleton" />
</section>

<section>
  <h1>Elsewhere</h1>
  <ul>
    <li><a href="http://www.github.com/tjsingleton">GitHub</a></li>
    <li><a href="http://stackoverflow.com/users/360774/tj-singleton">StackOverflow</a></li>
    <li><a href="http://www.linkedin.com/in/tjsingleton">LinkedIn</a></li>
    <li><a href="https://twitter.com/tjsingleton">Twitter</a></li>
    <li><a href="https://www.clearslide.com">ClearSlide</a></li>
  </ul>
</section>

